/*  Tabs */

.tabs {
	margin: 0;
	padding: 0;
	}

.tabs-list {
	margin: 0;
	padding: 0;
	display: block;
	}

.tabs-tab {
	margin: 0;
	padding: 0;
	display: inline-block;
	}

.tabs-tab-link {
	display: inline-block;
	cursor: pointer;
	}
.tabs-pane:target {
	display: block;
	}
.loaded .tabs-pane {
	display: none;
	}
	
.tabs .tabs-pane.target {
	display: block;
	}

